@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar{
    --bs-navbar-padding-y: 0;
}
.navbar > .container{
    margin-right: 30px;
}
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-nav{
    float: right;
    --bs-nav-link-color: #B4121B !important;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #696767;
}

/* Light mode dropdown */
.dropdown-light .dropdown-menu {
    background-color: white;
    text-decoration: none;
    border: none;
}

.dropdown-light .dropdown-item {
    color: #4b5563;
}

.dropdown-light .dropdown-item:hover {
    background-color: #f0f0f0;
}

/* Dark mode dropdown */
.dropdown-dark .dropdown-menu {
    background-color: #1e293b;
    color: #f0f0f0;
    border: none;
}

.dropdown-dark .dropdown-item {
    color: #70757c;
}

.dropdown-dark .dropdown-item:hover {
    background-color: #4b5563;
}
.country-custom{
    color: #70757c;
    text-decoration: none;
}

    